.form-input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}


.form-input-group > .form-input {
    font-size: 1.2rem;
    border: 0;
    border-bottom: 0.1em solid var(--color-black);
}


.form-input-group > .form-input:disabled {
    background-color: transparent;
}

.form-input-group > .form-input:focus {
    outline: none;
    border-bottom-color: var(--color-primary-light);
}
